@import '~destyle.css';

* {
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
}
html {
	scroll-behavior: smooth;
}

html,
body,
#root {
	font-size: 62.5%;
	height: 100%;
}

body {
	background-color: $dark-scheme3;
}

// #root {
// 	display: flex;
// 	flex-direction: column;
// }
