$base-color: #526de7;
$monochromatic1: #6e82da;
$monochromatic2: #8794ce;
$monochromatic3: #9ba2c1;
// $main-font:

// other scheme
$dark-scheme1: #526089;
$dark-scheme2: #404d75;
$dark-scheme3: #354061;
$dark-scheme4: #29324f;
$dark-scheme5: #1f2843;

// welcome screen colors
$welcome-letter-color: white;
