.enter-site {
	position: absolute;
	height: 100%;
	width: 100%;
	font-size: 6rem;
	clip-path: circle(100%); // FIXME ????? old?
	-webkit-clip-path: circle(100%); // FIXME ???? old?
	@media (max-width: 600px) {
		font-size: 4rem;
	}
	@media (max-width: 375px) {
		font-size: 3rem;
	}
	.door {
		cursor: pointer;
		position: absolute;
		top: 45%;
		left: 48%;
		text-align: center;
	}
}

.no-animation {
	animation: none !important;
}

.no-clicking {
	pointer-events: none;
}

.first {
	position: absolute;
	top: 20%;
	left: 20%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}
.second {
	position: absolute;
	top: 20%;
	left: 30%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}
.third {
	position: absolute;
	top: 20%;
	left: 40%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}
.fourth {
	position: absolute;
	top: 20%;
	left: 50%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}
.fifth {
	position: absolute;
	top: 20%;
	left: 60%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}
.sixth {
	position: absolute;
	top: 20%;
	left: 70%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}
.seventh {
	position: absolute;
	top: 20%;
	left: 80%;
	padding: 1%;
	// color: $welcome-letter-color;
	animation: first 2s;
}

// REFLECTIONS
.reflection {
	animation: fade-reflection 2s linear;
	transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: rotateX(180deg);
	-moz-transform: rotateX(210deg);
	-o-transform: rotateX(210deg);
	-webkit-transform: rotateX(210deg);
	perspective: 200px;
	mask-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		from(transparent),
		color-stop(20%, transparent),
		to(rgba(0, 0, 0, 0.4))
	);
	-webkit-mask-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		from(transparent),
		color-stop(20%, transparent),
		to(rgba(0, 0, 0, 0.4))
	);
}

.fas.fa-door-open.reflection-door {
	color: $welcome-letter-color;
	transform: rotate(180deg);
	transform: scaleY(-1);
	opacity: 1;
	animation: fade 3s infinite ease-in-out;
	mask-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		from(transparent),
		color-stop(20%, transparent),
		to(rgba(0, 0, 0, 0.4))
	);
	-webkit-mask-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		from(transparent),
		color-stop(20%, transparent),
		to(rgba(0, 0, 0, 0.4))
	);
}

// Door Animation Bounce
.fas.fa-door-open.top-door {
	color: $base-color;
	animation: bounce 2s infinite;

	// &:hover {
	// 	color: black !important;
	// 	transition: all 3s ease-in-out;
	// }
}

// Fade out
.access-site {
	animation: fade2 2s forwards;
	-webkit-animation: fade2 2s forwards;
	pointer-events: none;
}

// Used for door reflection
@keyframes fade {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes fade2 {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-reflection {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes first {
	from {
		top: -10%;
	}
	to {
		top: 20%;
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

.description {
	border-bottom: 1px solid $base-color;
	border-right: 1px solid $base-color;
	border-bottom-right-radius: 15px;
	width: 5%;
	font-size: 1.5rem;
	text-align: center;
}

// .welcome-page-mode-toggle {
// 	display: flex;
// 	position: relative;
// }

.welcome-page-mode-toggle {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	// color: black !important;
	font-size: 1.2rem;
	padding-top: 1%;
	padding-left: 1%;
}
